*{
    margin:0;
    padding: 0;
    border: 0;
    font-family: 'Nunito', sans-serif;
}

.header {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;

    
    min-height: 80vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    flex:auto;
    background-color: #f8f8f8;
}
  

.header img {
    max-width: 200px;
}

.header-list {
    margin-right: 20vh;

    display: flex;
    list-style: none; /* removes default list styling */
    padding: 0; /* remove any default padding */
    background-color:white;
    font-size:20px;
}
  
#special{
  background-color: #0B8C2F;
}

.header-list li {
    padding:15px; /* add some spacing between the list items */
    margin-right: 20px;

}

.header-top {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width:70%;
}

.header-top img {
  height: 200px;
}

.header-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-bottom{
  margin-top: 5vh;
  margin-right:45%;
}

.sustainify-title {
  font-size: 100px;

  font-weight: bold;
  margin-bottom: 10px;
  color:white;
}

.sustainify-subtitle {
  font-size: 20px;
  color:white;
  
}


.progressbar-container {
  width:  65%;
  height: 40px;
  background-color: white;

  margin-top: 15vh;
  margin-right:12vh;

  border-radius: 20px;
  border-style: solid;
  border-color: #0B8C2F;

}

.progressbar {
  display:flex;
  width: 50%;
  height: 100%;
  background-color: green;

  color:white;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.about-us {
  display:flex;
  margin-top: 20vh;
  max-width: 60%;
  justify-content: space-between;
}

.right-about{
  background-color:#559D77;
  min-width:20vh;
  min-height: 20vh;
}

#aboutus
